In [259]:
L=[1,5.4,2+21j,'man']
T=(1,5.4,2+21j,'man')
S={1,5.4,2+21j,'man','man'}
D={23:'twothree','B':44, 'J':2+1j}
print(type(L),type(T),type(S),type(D))
print(S)

<class 'list'> <class 'tuple'> <class 'set'> <class 'dict'>
{1, (2+21j), 'man', 5.4}

In [260]:
print(L[1],T[2],'man' in S, D['J'])
# indexing is not done for both set and dict.
# values in set can be checked, while in dict it can be checked using key

5.4 (2+21j) True (2+1j)

In [261]:
L[1:3]

[5.4, (2+21j)]

In [262]:
L[::-1]

['man', (2+21j), 5.4, 1]

In [263]:
T[::-1]

('man', (2+21j), 5.4, 1)

In [264]:
T1=(1, 3.5, 67)
T2=T+T1
T2#tuple are immutable but can be added to other tuple

(1, 5.4, (2+21j), 'man', 1, 3.5, 67)

In [265]:
t=()
t=T2 #copying tuple to empty tupple 
t

(1, 5.4, (2+21j), 'man', 1, 3.5, 67)

In [266]:
del t

In [267]:
L2=L.copy()
L2

[1, 5.4, (2+21j), 'man']

In [268]:
S1=S.copy()
D1=D.copy()
S1, D1

({(2+21j), 1, 5.4, 'man'}, {23: 'twothree', 'B': 44, 'J': (2+1j)})

In [269]:
D1['name']='man'
del D1[23]
S1.add(456)
S1.update({-98,('x*y'),'opps'})
print(D1)
S1

{'B': 44, 'J': (2+1j), 'name': 'man'}

{(2+21j), -98, 1, 456, 5.4, 'man', 'opps', 'x*y'}

In [270]:
S1.remove('man')
S1

{(2+21j), -98, 1, 456, 5.4, 'opps', 'x*y'}

In [271]:
D2={'place':'Bengaluru','Animal':'Arjuna'}
D1.update(D2)
D1

{'B': 44, 'J': (2+1j), 'name': 'man', 'place': 'Bengaluru', 'Animal': 'Arjuna'}

In [272]:
L2

[1, 5.4, (2+21j), 'man']

In [273]:
L2.append(50)
L2# here this was run 4 times

[1, 5.4, (2+21j), 'man', 50]

In [274]:
L2.extend([4,6])
L2#2 times run

[1, 5.4, (2+21j), 'man', 50, 4, 6]

In [275]:
L2.pop()
L2#last value deleted

[1, 5.4, (2+21j), 'man', 50, 4]

In [276]:
L2.remove(L2[4])
L2

[1, 5.4, (2+21j), 'man', 4]

In [277]:
for i in L2:
    if L2.count(i)>1:
        L2.remove(i)
print(L2)

[1, 5.4, (2+21j), 'man', 4]

In [278]:
L2.insert(3, 'manfy')
L2

[1, 5.4, (2+21j), 'manfy', 'man', 4]

In [279]:
D2.items()

dict_items([('place', 'Bengaluru'), ('Animal', 'Arjuna')])

In [280]:
# using list, tuple and sets in dictionary
T=(1,2,3,4,5)
L=[2,4,6,6]
S={56,87.399,87,'jay'}
D3={'A':L,'B':S,'C':T,'D':D2}
D3

{'A': [2, 4, 6, 6],
 'B': {56, 87, 87.399, 'jay'},
 'C': (1, 2, 3, 4, 5),
 'D': {'place': 'Bengaluru', 'Animal': 'Arjuna'}}

In [281]:
D3['A']

[2, 4, 6, 6]

In [282]:
print(D3['C'][3])
D3['B'][1]

4

TypeError: 'set' object is not subscriptable

In [283]:
D3['D']['place']

'Bengaluru'

In [284]:
K=D3['D']
K

{'place': 'Bengaluru', 'Animal': 'Arjuna'}

In [285]:
for x in K:
    print(x +':'+ K[x])

place:Bengaluru
Animal:Arjuna

In [286]:
#similarly include all data structures in list
L2=[L2,T,S,D2,'game']
L2

[[1, 5.4, (2+21j), 'manfy', 'man', 4],
 (1, 2, 3, 4, 5),
 {56, 87, 87.399, 'jay'},
 {'place': 'Bengaluru', 'Animal': 'Arjuna'},
 'game']

In [287]:
type(L2[2])

set

In [288]:
L3=[x**2 for x in range(10)]
L3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [289]:
S={pow(x,3) for x in range(1,11)}
S

{1, 8, 27, 64, 125, 216, 343, 512, 729, 1000}

In [290]:
# imp problem
"""Let say you are a teacher and you have different student
records containing id of a student and the marks list in each subject
where different students have taken different number of subjects. All
these records are in hard copy. You want to enter all the data in computer
and want to compute the average marks of each student and display"""

def getDataFromUser():
    D={}
    while True:
        studentId=input('Enter student ID: ')
        marksList=input('Enter the marks by comma seperated values: ')
        moreStudents=input('Enter "no" to quit inseration or "yes" to add more')
        if studentId in D:
            print(studentId, "is already inserted")
        else:
            D[studentId]=marksList.split(',')
        if moreStudents.lower()=="no":
            return D

In [291]:
studentData=getDataFromUser()

Enter student ID: 24MC001
Enter the marks by comma seperated values: 65,87,89.99,100
Enter "no" to quit inseration or "yes" to add moreyes
Enter student ID: 24MC002
Enter the marks by comma seperated values: 65,87,77,20
Enter "no" to quit inseration or "yes" to add moreyef
Enter student ID: 24MC003
Enter the marks by comma seperated values: 67,87,98,67.5
Enter "no" to quit inseration or "yes" to add moreno

In [292]:
studentData

{'24MC001': ['65', '87', '89.99', '100'],
 '24MC002': ['65', '87', '77', '20'],
 '24MC003': ['67', '87', '98', '67.5']}

In [293]:
def getAvg(D):
    avgMarks={}
    sum=0
    for values in D:
        L=D[values]
        for marks in L:
            sum=sum+float(marks)
        avgMarks[values]=sum/len(L)
    return avgMarks

In [294]:
avgM= getAvg(studentData)
avgM

{'24MC001': 85.4975, '24MC002': 147.7475, '24MC003': 227.6225}

In [295]:
for x in avgM:
    print("student: ", x, "got avg marks as: ", avgM[x])

student:  24MC001 got avg marks as:  85.4975
student:  24MC002 got avg marks as:  147.7475
student:  24MC003 got avg marks as:  227.6225